<div class="overlay">
<div class="container-fluid">
  <ng-progress></ng-progress>
  <h1>QUOTES</h1>
     <hr>

    <div class="row">
      <div class="col-sm-3">
        <app-quotes-form (addQuote)="addNewQuote($event)" ></app-quotes-form>
   </div>
  <div class="col-sm-9">
     
      <ul>
        <div *ngFor='let quotes of quotes; let i = index'>
          <li appHighlight class="quote-title">{{quotes.title}}</li>
          <button (click)='toggleDetails(i)' class="btn-info btn-sm" > Details </button>
          <app-quotes-detail *ngIf= 'quotes.showDetails' [quotes]= 'quotes' (isComplete) = 'deleteQuote($event,i)'></app-quotes-detail>
         </div>
       </ul>
       <p>
         
       </p>
    </div>
    <div class="row">
      <blockquote class="blockquote text-center">
        <p class="mb-0">{{quote.quote}}</p>
        <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
      </blockquote>
    </div>
</div>
</div>


   
  
